*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(6, 4, 37);
}
section {
    margin-left: -8px;
    width: 101%;
}
h1 {
    font-size: 3.2em;
    text-align: center;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background: rgb(245, 244, 244);
    max-width: 100%;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 75px;
    z-index: 10;
}
#navbar::after {
    box-sizing: content-box;
}
#navbar ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    justify-content: center;
}
#navbar ul li {
    margin-right: 100px;
    font-size: 1.2em;
    transition: color 0.3s linear; /* vendorless fallback */
    -o-transition: color 0.3s linear; /* opera */
    -ms-transition: color 0.3s linear; /* IE 10 */
    -moz-transition: color 0.3s linear; /* Firefox */
    -webkit-transition: color 0.3s linear; /*safari and chrome */
}
#navbar .nav-link {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
#navbar .nav-link:hover {
    border-bottom: 3px solid hsl(200, 50%, 50%);;
    color: hsl(200, 50%, 50%);
    padding: 30px 2px;
}
#logo {
    width: 50vw;
    padding-top: 20px;
}
#welcome-section {
    position: relative;
    top: 80px;
    left: 0;   
    color: hsl(200,50%,70%);
    background: rgb(6, 4, 37);    
    height: 100vh;
    padding-top: 50px;    
}
#welcome-section h1 {
    margin-top: 50px;    
    color: hsl(200, 50%, 50%);
}
p {
    width: 520px;
    align-items: center;
    line-height: 1.5em;
    text-align: center; 
    margin-left: 365px;
    font-size: 20px;
}
#projects {
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: hsl(200,50%,70%);
    padding-bottom: 30px;
}
#projectsheader {
    color: rgb(6, 4, 37);
    font-weight: bold;
    padding: 40px 0 30px 0;
}
.project-tile {
    border: 0px solid black;
    padding: 3px;
    overflow: hidden;
    height: 400px; 
    width: 500px;
}
.project-tile::before{
    /* content:'';
    position:absolute; */
    background:rgba(19, 37, 52, .5);
    transition:all .3s ease;
    /* top:0;
    left:0;
    right:0;
    bottom:0; */
    z-index:1;
}
.project-tile:hover:before{
    background:rgba(19, 37, 52, .35);
}
.project-tile a{
    /* position:absolute;
    top:0;left:0; */
    z-index:3;
    height:100%;
    width:100%;
    transition: color 0.3s linear !important; /* vendorless fallback */
    -o-transition: color 0.3s linear; /* opera */
    -ms-transition: color 0.3s linear; /* IE 10 */
    -moz-transition: color 0.3s linear; /* Firefox */
    -webkit-transition: color 0.3s linear; /*safari and chrome */
}
.project-tile:hover {    
    height: 400px !important; 
    width: 500px !important;
}
.project-tile img:hover {
    transition: all 0.4s ease-out; 
    transform: scale(1.2);
}
#projectsmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
}
#footer {
    height: 200px;
}
#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 140px;
    color: white;
    list-style-type: none;
}
#footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 20px;
}
#footer ul a:hover {
    position: relative;
    top: 5px;
    color: hsl(200, 50%, 50%);    
}
#footer ul a span {
    padding-left: 5px;
}
.fab fa-gitlab::before {
    content: "\f296";
}
.fab fa-facebook-f::before {
    content: "\f39e";
}
.fab fa-twitter::before {
    content: "\f099";
}
.active-link {
    border-bottom: 3px solid hsl(200, 50%, 50%) !important;
    color: hsl(200, 50%, 50%) !important;
    padding: 30px 2px !important;
}

@media (max-width: 28.75em){
    section {
        margin-left: -8px;
        width: 230%;        
    }
    h1 {
        font-size: 2.2em;
        text-align: center;
    }
    #projects {
        position: relative;
        top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: hsl(200,50%,70%);
        padding-bottom: 20px;
    }
    #welcome-section {
        position: relative;
        top: 80px;
        margin-top: -80px
    }
    #welcome-section p {
        margin: auto;
        margin-bottom: 20px;
        font-size: 18px;
    }
    #projectsmain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-left: 20%;
    }
}