  #title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
  }

  body {
    /* background: hsl(197, 81%, 71%); */
    background: url(https://thewallpaper.co//wp-content/uploads/2019/08//windows-art-original-abstract-cities-building-architecture-fantasy-city-artistic-artwork-background-images-jpg.jpg);
    font-family: "sans-serif", "segoe ui", monospace, serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* [type='radio'] {
    justify-self: start;
  } */
  .inputF, #dropdown {
    border-radius: 5px;
    padding: 5px;
    width: 20em;
    margin-left: 15px;
    border: 1px solid #c0c0c0;
  }
  #Form-outer {
    background: white;
    padding: 20px;
    width: 75%;
    margin: auto;
    border-radius: 5px;
  }
  #Form-outer p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .divCont {
    display: block;
    /* grid-template-columns: 1fr 1.2fr; */
    padding: 10px;
    text-align: center;
  }
  .labels {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 5px;
    vertical-align: top;
  }
  .divRightEle{
    display: inline-block;
    width: 48%;
    text-align: left;
    padding: 5px;
    vertical-align: top;
  }
  .labels label::before {
    content: "*";
    color: red;
  }
  .radio, .checkbox{
    margin-left: 15px;
  }
  #submit {
    width: 110px;
    height: 40px;
    background: #59ace0;
    color: white;
    border-radius: 5px;
    border: 1px solid #59ace0;
    font-size: 1em;
    cursor: pointer;
  }
  #btnSubmit {
    margin:20px 0 20px 40%;
  }
  #submit:hover {    
    background: #11161a;
  }
  #comment {
    margin-left: 15px;
    border-radius: 5px;
  }
  @media (max-width: 700px) {
    .inputF, #dropdown, #comment {
      width: 13em;
    }
  }