body {
    background: rgb(236, 235, 235);
    font-family: sans-serif;
    display: block;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 25px;
    width: 0;
    z-index: 2;
    height: 600px;
    overflow-y: scroll; 
    transition: 0.5s;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  margin-left: 1px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: gray;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.closebtn:hover {
    border-radius: 50%;
    background: rgba(204, 200, 200, 0.47);
   color: rgba(189, 112, 112, 0.788);
}
.openbtn {
    position: fixed;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: rgba(17, 17, 17, 0.74);
}
#main-doc {
    /* position: absolute;
    left: 1%;*/
    width: 80%; 
    padding: 20px;
    margin-left: 150px;
    transition: margin-left .5s;
}
nav ul {
    list-style-type: none;
    margin-left: -41px;
    cursor: pointer;
    margin-top: auto;
}
#navbar .nav-link{
    text-decoration: none;
    color: black;
}
#navbar li, #navbar #navHeader {
    height: 35px;
    max-width: 100%;
    background: rgb(228, 225, 225);
    text-align: center;
    border-block-end: 1px solid rgb(165, 163, 163);
    padding-top: 10px;    
}
#navbar #navHeader {
    height: 45px !important;
    border-block-end: 0px solid black !important;
    font-size: 1.5em;
    font-weight: bold;
}
#navbar li:hover, #navbar .nav-link:hover {
    background: #0fa2f0;
    text-decoration: white;
    transform-style: flat;
}
.main-section header {
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
}
p {
    line-height: 1.5em;
    width: 85%;
    text-align: justify;    
}
article ul {
    text-align: justify;
    line-height: 1.5em;
}
article ul li {
    padding-bottom: 20px;
    width: 80%;
    margin-left: 30px;
}
article code span {
    margin-left: 30px;    
} 
code {
    display: block;
    text-align: left;
    /* white-space: pre; */
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color:rgba(223, 219, 219, 0.47);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    max-width: 80%;
}

.imagen {
    position: absolute;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.subir {
   transition: 0.9s;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 50px;
   float: right;
   margin-right: 150px;
   background: rgba(221, 218, 218, 0.47);
   color: rgba(121, 107, 107, 0.788);
   text-decoration: none;
}
.subir:hover {
    background: rgba(204, 200, 200, 0.47);
   color: rgba(189, 112, 112, 0.788);
}
.fa-arrow-up:before {
    content: "\f062";
}

li ul {
    margin-top: 15px;
    margin-bottom: -20px;
}

@media only screen and (max-width: 550px){
    
    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    .closebtn {
        visibility: hidden;
    }
    .openbtn {
        visibility: hidden;
    }
}

@media only screen and (max-width: 815px){
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}