body {
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2, p {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgb(238, 235, 235);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 3;
}
#logo {
    width: 60vw;
    /* flex-grow: 2;
    text-align: start;   */
}
main {
    z-index: 1;
}
#header-img{
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-left: 35px;
}
#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    width: 45%;
    margin-top: 130px !important;
    margin-left: 30%;
    padding: 20px;
    z-index: 2;
}
@media(max-width: 550px){
    #formulario {
        width: 90%;
        margin-left: 0%;
        margin-top: 140px;
    }
}
@media(max-width: 750px){
    #formulario {
        width: 90%;
        margin-left: 0%;
        margin-top: 140px;
    }
}
ul {
    list-style-type: none;
    list-style: square;
    display: block;
}
li {
    display: inline-block;
    margin-right: 50px;
    color: black;
}
.nav-link {
    text-decoration: none;
    color: #111010;
}
.nav-link:hover {
    color: #615f5f;
    font-size: 20px;
}
#caracteristicas {
    position: absolute;
    top: 350px;
    width: 85%;
    margin-left: 4%;    
}
.grid {
    display: flex;
}
#caracteristicas .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
#caracteristicas .icon:hover {
    transform: scale(2)
}
#caracteristicas .divDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 550px) {
    #caracteristicas .icon {
      display: none;
    }
  }
@media (max-width: 550px) {
    #caracteristicas .divDesc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #caracteristicas {
      margin-top: 0;
    }
  }
#comotrabaja {
    margin-top: 510px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-left: 30%;
}
#form #email {
    max-width: 250px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
#form #submit {
    max-width: 150px;
    border-radius: 5px;
    margin: 10px 0px 0px 70px;
    border: 1px solid #f1c40f;
    padding: 8px;
    background: #f1c40f;
    color: rgb(28, 28, 31);
    font-size: 1em;
    font-weight: bold;
}
#form #submit:hover {
    background: rgb(230, 139, 28);
} 
#precios {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-top: 20px;
}
.contPrecios {
    width: 300px;
    height: 350px;
    border: 1px solid #a59f9f;    
    margin: 10px;
}
.contPrecios .headerprecios {
    width: 100%;
    height: 50px;
    background: #ddd;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.contPrecios .headerprecios p {
    text-align: center;
    margin-top: 10px;
}
.bodyprecios {
    padding: 10px;
    text-align: center;
}
.valor {
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
}
.select {
    border-radius: 5px;
    background: #f1c40f;
    border: #f1c40f;
    font-size: 1em;
    margin-left: 100px;
    padding: 10px;
    font-weight: bold;
}
@media (max-width: 700px){
    #precios {
        margin-left: 25%;
    }
}
footer {
    margin-top: 30px;
    background: #ddd;
    height: 70px;
}
footer ol{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
footer span {
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
    margin-right: 61px;
    color: #9c9898
}